:root {
    --accountBarBg: #232428;
    --accountBarBtnHover: #3d3e45;
    --statusOnline: #23a55a;
}

#accountBar {
    background-color: var(--accountBarBg);
    width: 236px;
    height: 53px;
    position: fixed;
    bottom: 0;
    display: flex;
    padding-right: 4px;
}
#accountBar.fullSize {
    bottom: unset;
    top: 0;
    left: 72px;
    right: 0;
    width: unset;
    z-index: 1;
    border-bottom: 2px solid var(--bodyBg);
}
#accountBarIcon {
    width: 32px;
    height: 32px;
    margin: 10px 8px 0 8px;
}
#accountBarIcon > img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
#accountBarIconStatus {
    width: 10px;
    height: 10px;
    background-color: var(--statusOnline);
    transform: translate(19px, -18px);
    border-radius: 50%;
    border: 3.25px solid var(--accountBarBg);
}
#accountBarNames {
    font-weight: 200;
    margin: auto 0 auto;
    flex-grow: 1;
}
#accountBarNameDisplay {
    font-size: 14px;
    transform: translateY(-.75px);
    color: var(--textWhite);
}
#accountBarNameUser {
    font-size: 12px;
    transform: translateY(-1px);
    color: var(--textGrayLight);
}
.iconBtn {
    margin: auto 4px auto auto;
    width: 20px;
    height: 21px;
    padding: 6px;
    border-radius: 4px;
    transition: .1s background-color var(--bezierQuartOut);
    aspect-ratio: 1;
}
.iconBtn:hover {
    background-color: var(--accountBarBtnHover);
    cursor: pointer;
}
.iconBtn > span > img {
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}
#accountBarLogout {
    width: 22px;
    filter: invert(78%) sepia(3%) saturate(507%) hue-rotate(176deg) brightness(97%) contrast(88%);
    transition: .1s var(--bezierQuartOut) filter;
}
.iconBtn:hover > span > #accountBarLogout {
    filter: invert(34%) sepia(69%) saturate(856%) hue-rotate(319deg) brightness(104%) contrast(90%);
}