.accountConfigUserAvatarDel {
    position: absolute;
    padding: 6px 8px;
    left: 50%;
    transform: translate(calc(-50% + 31px), -5px);
    border-radius: 50%;
    line-height: 0;
    color: var(--colRed);
    background-color: var(--btnBlack);
    z-index: 1;
    cursor: pointer;
    transition-duration: .075s;
    transition-property: color background-color box-shadow;
    transition-timing-function: ease-out;
    box-shadow: 0 2px 6px #00000077;
}
.accountConfigUserAvatarDel:hover {
    color: var(--textWhite);
    background-color: var(--colRed);
}
.accountConfigUserAvatarDel:active {
    color: var(--textGrayLight);
    background-color: var(--colRedDark1);
    box-shadow: 0 0 6px #ff000077;
}
.accountConfigUserIcon:hover > .accountConfigUserAvatar {
    box-shadow: 0 2px 20px #7289da77;
    background-color: #7289da77;
}
.accountConfigUserIcon:hover > .accountConfigUserAvatarEdit {
    opacity: 1;
}
.accountConfigUserAvatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('/icons/uploadPlaceholder.svg');
    position: relative;
    cursor: pointer;
}
.accountConfigUserAvatar.empty {
    border-radius: 50% 12px 50% 50%;
}
.accountConfigUserAvatarEdit {
    transition: .1s opacity ease-out;
    opacity: 0;
    /* position: relative; */
    float: right;
    /* transform: translateX(-213%); */
    transform: translateX(-170px);
    border-radius: 50%;
    background-color: #000000aa;
    width: 40px;
    height: 40px;
    padding: 20px;
    cursor: pointer;
}