:root {
    --footerBarBg: #232428;
    --footerBarBtnHover: #3d3e45;
}

#footerBar {
    background-color: var(--footerBarBg);
    border-bottom: 2px solid var(--bodyBg);
    bottom: -14px;
    display: flex;
    height: fit-content;
    justify-content: center;
    left: -7px;
    padding-bottom: 12px;
    position: relative;
    right: 0;
    width: calc(101% - 4px);
    z-index: 1;
}
#footerBar.smallSize {
    border-bottom: 2px solid var(--bodyBg);
    justify-content: center;
    left: 64px;
    width: calc(100% - 56px);
    z-index: 1;
}

.footerTeamDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membersContainer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footerLinksContainer {
    display: flex;
    justify-content: center;
    gap: 6px;
}
.footerSlashes {
    opacity: 25%;
    font-weight: 100;
}

@media screen and (max-width: 580px) {
    .membersContainer {flex-direction: column; justify-content: center; align-items: center;}
    .footerSlashes {visibility: hidden;}
}

@media screen and (max-width: 654px) {
    .membersContainer {
        text-align: center;
        align-items: center;
    }
}
