@font-face {
	font-family: ggsans;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/ggsansThin.ttf');
}
@font-face {
	font-family: ggsans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/ggsansBook.ttf');
}
@font-face {
	font-family: ggsans;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/ggsansNormal.ttf');
}
@font-face {
	font-family: ggsans;
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/ggsansBold.ttf');
}
@font-face {
	font-family: ggsans;
	font-style: italic;
	font-weight: 200;
	src: url('/fonts/ggsansItalics.ttf');
}
@font-face {
	font-family: ggsans;
	font-style: italic;
	font-weight: 600;
	src: url('/fonts/ggsansItalicsBold.ttf');
}