/* TODO: Add sitewide styles */
@import url('/src/fonts.css');
:root {
  --textWhite: #f2f3f5;
  --colBlurple: #5865F2;
  --colRed: #ED4245;
}

body {
  font-family: ggsans, Arial, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  background-color: #313338;
  text-rendering: optimizeLegibility;
  color: var(--textWhite);
}

