:root {
    --channelListBg: #2b2d31;
    --channelListHoverBg: #36373d;
    --channelListSelectBg: #404249;
    --channelListName: #949ba4;
}

#channelSidebar {
    width: 240px;
    height: 100vh;
    background-color: var(--channelListBg);
    position: fixed;
    top: 0;
    left: 72px;
}
#channelList {
    display: grid;
    row-gap: 2px;
    margin: 8px;
}
.channelLi {
    display: flex;
    height: 32px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.channelLi, .channelLiName {
    transition-duration: .1s;
    transition-property: color background-color;
    transition-timing-function: var(--bezierQuartOut);
}
.channelLi.select {
    background-color: var(--channelListSelectBg);
}
.channelLi.select > .channelLiName {
    color: white;
}
.channelLiIcon {
    margin: 6px 8px;
}
.channelLiIcon > img {
    height: 20px;
}
.channelLiName {
    margin: auto auto auto 0;
    font-weight: 300;
    color: var(--channelListName);
    margin-bottom: 6px;
}
.channelLi:hover {
    background-color: var(--channelListHoverBg);
}
.channelLi:hover>.iconBtn {
    display: unset;
}
.channelLi > .iconBtn {
    margin: 0;
    display: none;
    height: 20px;
}
.channelLi > .iconBtn > img {
    width: 20px;
    height: 13px;
}