:root {
    --channelListFooterBg: #232428;
    --channelListFooterBtnHover: #3d3e45;
    --statusOnline: #23a55a;
}

#channelListFooter {
    background-color: var(--channelListFooterBg);
    width: 236px;
    height: 53px;
    position: fixed;
    bottom: 0;
    display: flex;
    padding-right: 4px;
}
#channelListFooterIcon {
    width: 32px;
    height: 32px;
    margin: 10px 8px 0 8px;
}
#channelListFooterIcon > img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
#channelListFooterIconStatus {
    width: 10px;
    height: 10px;
    background-color: var(--statusOnline);
    transform: translate(19px, -18px);
    border-radius: 50%;
    border: 3.25px solid var(--channelListFooterBg);
}
#channelListFooterNames {
    font-weight: 200;
    margin: auto 0 auto;
    flex-grow: 1;
}
#channelListFooterNameDisplay {
    font-size: 14px;
    transform: translateY(-.75px);
    color: var(--textWhite);
}
#channelListFooterNameUser {
    font-size: 12px;
    transform: translateY(-1px);
    color: var(--textGrayLight);
}
.iconBtn {
    margin: auto 4px auto auto;
    width: 20px;
    height: 21px;
    padding: 6px;
    border-radius: 4px;
    transition: .1s background-color var(--bezierQuartOut);
    aspect-ratio: 1;
}
.iconBtn:hover {
    background-color: var(--channelListFooterBtnHover);
    cursor: pointer;
}
.iconBtn > span > img {
    margin: auto;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}
#channelListFooterLogout {
    width: 22px;
    filter: invert(78%) sepia(3%) saturate(507%) hue-rotate(176deg) brightness(97%) contrast(88%);
    transition: .1s var(--bezierQuartOut) filter;
}
.iconBtn:hover > span > #channelListFooterLogout {
    filter: invert(34%) sepia(69%) saturate(856%) hue-rotate(319deg) brightness(104%) contrast(90%);
}