:root {
    --serverNameHr: #1f2123;
    --serverNameHrShadow: #1f212344;
    --serverNameHoverBg: #35373c;
    --dropdownBg: #111214;
}
@keyframes dropdownOpen {
    0%,25% {
        opacity: 0;
        transform: scale(.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#channelListHeaderServerName {
    padding: 13px 1em 13.5px;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#channelListHeaderBg {
    display: flex;
    border-bottom: 1px solid var(--serverNameHr);
    box-shadow: -1px 1px 1px var(--serverNameHrShadow);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 1px 4px #000;
    transition-property: background-color;
    transition-duration: .1s;
    transition-timing-function: var(--bezierQuartInOut);
}
#channelListHeaderBg:hover, #channelListHeaderBg:hover > #channelListHeaderBgCover {
    cursor: pointer;
    background-color: var(--serverNameHoverBg);
}
#channelListHeaderBgShadow, #channelListHeaderBgCover {
    height: 135px;
    width: 240px;
    position: fixed;
}
#channelListHeaderBgShadow {
    background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 43%);
}
#channelListHeaderBgCover {
    background-color: var(--channelListBg);
    transition: .1s opacity var(--bezierQuartOut);
}
#channelListHeaderServerName {
    width: 100%;
    z-index: 1;
}
#channelListHeaderBg > .fas {
    margin: 16px 16px auto 0;
    color: var(--textGrayLight);
    z-index: 1;
}

.dropdownMenu {
    background-color: var(--dropdownBg);
    border-radius: 4px;
    margin: 10px 10px 0;
    padding: 8px;
    width: 204px;
    position: absolute;
    animation-name: dropdownOpen;
    animation-duration: .15s;
    animation-timing-function: ease-out;
    transform-origin: top center;
}
.dropdownMenu.hidden {
    visibility: hidden;
    opacity: 0;
    animation-name: unset;
}
.dropdownMenu > .dropdownBtn {
    padding: 7px 8px 6px;
    padding-right: 7px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    color: var(--textGrayLight2);
    user-select: none;
    -webkit-user-drag: none;
}
.dropdownBtn + .dropdownBtn {
    margin-top: 2px;
}
.dropdownMenu > .dropdownBtn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--colBlurpleDark1);
}
.dropdownMenu > .dropdownBtn:active {
    background-color: var(--colBlurpleDark2);
}
.dropdownMenu > .dropdownBtn.btnRed {
    background-color: unset;
    color: var(--colRed);
}
.dropdownMenu > .dropdownBtn.btnRed:hover {
    color: white;
    background-color: var(--colRed);
}
.dropdownMenu > .dropdownBtn.btnRed:active {
    background-color: var(--colRedDark2);
}
