:root {
    --chatMsgBgHover: #2e3035;
    --chatMsgDisplayName: #f2f3f5; 
    --chatMsgDate: #949ba4;
    --chatMsgEdited: #959ba3; 
    --chatMsgBtnBorder: #27292d; 
    --chatMsgBtnBgActive: #37383e; 
}
#chatBar {
    position: fixed;
    left: 312px;
    top: 0;
    bottom: 0;
    width: calc(100vw - 312px);
}
#chatBarPlaceholder {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#chatBarPlaceholder > img {
    width: 100%;
    height: 100vh;
    max-height: 220px;
    max-width: 320px;
}
#chatBarPlaceholder > h3 {
    color: var(--chatMsgEdited);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
#chatBarPlaceholder > div {
    color: var(--chatMsgEdited);
    font-size: 14px;
    font-weight: 200;
}
#chatBarContent {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 312px);
    position: fixed;
    top: 48px;
    bottom: 60px;
    overflow-y: scroll;
    padding-bottom: 24px;
}
.chatMsg {
    height: 48px;
    display: flex;
    margin-top: 17px;
    margin-bottom: 0px;
}
.chatMsg.short {
    margin-top: 0px;
    margin-bottom: 3px;
    height: 24px;
}
.chatMsg:hover {
    background-color: var(--chatMsgBgHover);
}
.chatMsgTop > .chatMsgBtns {
    display: flex;
    position: absolute;
    right: 0px;
    transform: translateY(-22px);
    float: right;
    margin: 8px;
    border-radius: 4px;
    opacity: 0;
    background-color: var(--bodyBg);
    border: 1px solid var(--chatMsgBtnBorder);
}
.chatMsg.short > .chatMsgRight > .chatMsgTop > .chatMsgBtns {
    transform: translateY(-14px);
}
.chatMsg:hover>.chatMsgRight > .chatMsgTop > .chatMsgBtns, .chatMsg.short:hover>.chatMsgLeft>.chatMsgDate.short {
    opacity: 1;
}
.chatMsg:hover>.chatMsgRight > .chatMsgTop > .chatMsgBtns > .iconBtn:hover {
    background-color: var(--chatMsgBtnBgActive);
}
.chatMsg:hover>.chatMsgRight > .chatMsgTop > .chatMsgBtns > .iconBtn:active > img {
    margin-top: 1px;
}
.chatMsgBtns > .iconBtn {
    margin: auto;
}
.chatMsgBtns > .iconBtn > img {
    width: 20px;
}
.chatMsgLeft {
    width: 72px;
}
.chatMsgLeft > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px 16px;
    user-select: none;
    cursor: pointer;
}
.chatMsgLeft > img:hover {
    box-shadow: 0 2px 4px #00000033;
}
.chatMsgLeft > img:active {
    transform: translateY(1px);
}
.chatMsgName {
    font-weight: 300;
    color: var(--chatMsgDisplayName);
    cursor: pointer;
}
.chatMsgName:hover {
    text-decoration: underline;
}
.chatMsgDate {
    font-weight: 200;
    font-size: 12px;
    margin-left: 8px;
    color: var(--chatMsgDate);
    cursor: default;
}
.chatMsgDate.short {
    margin-left: 17px;
    opacity: 0;
    font-size: 11px;
    user-select: none;
}
.chatMsgTxt {
    color: var(--textWhiteIpt);
    line-height: 24px;
    font-weight: 200;
}
.chatMsgTxtEdited {
    color: var(--chatMsgEdited);
    font-size: 10px;
    user-select: none;
    margin-left: 4px;
    line-height: 0;
}