:root {
    --serverBarBg: #1e1f22;
    --serverBarHr: #35363c;
    --serverBarNameBg: #111214;
    --serverBarIconLamp: #f2f3f5;
}

#serverBar.auth {
    left: 0
}
#serverBar {
    position: fixed;
    top: 0;
    left: -72px;
    bottom: 0;
    z-index: 1;
    width: 48px;
    display: flex;
    row-gap: 8px;
    padding: 12px;
    transition: .3s left var(--bezierQuartOut);
    flex-direction: column;
    overflow-y: scroll;
}
#serverBar.mouseIn {
    padding: 12px 100vw 12px 12px;
}
#serverBarBg {
    background-color: var(--serverBarBg);
    width: 72px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
.serverBarDiv {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    user-select: none;
    -webkit-user-drag: none;
}
.serverBarHr {
    background-color: var(--serverBarHr);
    width: 32px;
    padding-top: 2px;
    margin: 0 auto;
}
.serverBarIcon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: .15s ease-out border-radius;
    user-select: none;
    -webkit-user-drag: none;
    object-fit: cover;
}
.serverBarName {
    background-color: var(--serverBarNameBg);
    color: var(--textWhiteIpt);
    width: max-content;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0 8px 16px #00000033;
}
.serverBarBalloonArrow {
    width: 10px;
    height: 10px;
    background-color: var(--serverBarNameBg);
    transform: translate(-3px, -24px) rotate(45deg);
}
.serverBarBalloon {
    pointer-events: none;
    opacity: 0;
    transform: scale(.9) translate(70px, -50.5px);
    height: 37.5px;
    transition-duration: .3s;
    transition-timing-function: var(--bezierBounceOut);
    transition-property: opacity transform;
    transform-origin: 100% 0%;
}
.serverBarDiv:hover > .serverBarBalloon {
    opacity: 1;
    transform: scale(1) translate(68px, -47.5px);
    transition-duration: .15s;
}
.serverBarIcon.selected, .serverBarIcon:hover {
    cursor: pointer;
    border-radius: 35%;
}
.serverBarIconLamp {
    width: 8px;
    margin-top: 16px;
    height: 8px;
    opacity: 0;
    background-color: var(--serverBarIconLamp);
    border-radius: 4px;
    transform: translate(-16px, -86.5px);
    transition-duration: .15s;
    transition-property: height margin-top opacity;
    transition-timing-function: ease-out;
}
.serverBarDiv:hover > .serverBarIconLamp {
    margin-top: 10px;
    height: 20px;
    opacity: 1;
}
.serverBarIconLamp.selected {
    margin-top: 0px !important;
    height: 40px !important;
    opacity: 1 !important;
}
